@import 'reset';
@import 'variables';
@import 'typography';



// Mixins

@mixin box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Global styles

*,
*::before,
*:after {
  @include box-sizing
  margin: 0;
  padding: 0;
}

/* IE11 */
@media all and (-ms-high-contrast:none) {
  *::-ms-backdrop,
  [data-aos^=fade][data-aos^=fade],[data-aos^=zoom][data-aos^=zoom] {
    opacity: 1;
  }
}

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  @include flex-column;
}

.container {
  max-width: 85%;
  width: 100%;
  margin: 0 auto;
}

// Backgrounds

.koamaru-bg {
  background-color: $koamaru;
}

.spanish-bg {
  background-color: $spanish;
}

.white-bg {
  background-color: $white;
}

.romantic-bg {
  background-color: $romantic;
}

.grenadier-bg {
  background-color: $grenadier;
}


// Blocks

header {
  .container {
    @include flex-row;
    justify-content: space-between;
  }
  .nav-wrap {
    display: none;
  }
}

.txtblock {

}

#intro {
  .txtwrap {
    &.col {
      max-width: 830px;
      width: 100%;
    }
  }
}
