// Colours

$white: #ffffff;
$black: #000000;
$koamaru: #1D1485;
$spanish: #F8F3E2;
$romantic: #FFD2B1;
$grenadier: #E23A01;

// Typography

$base-font-stack: 'Bourton-linebold', Helvetica, Arial, sans-serif;

@font-face {
  font-family: "Bourton-linebold";
  src: url("../fonts/bourton-linebold.woff2") format("woff2"),
       url("../fonts/bourton-linebold.woff") format("woff");
}

@font-face {
  font-family: "Bourton-base";
  src: url("../fonts/bourton-base.woff2") format("woff2"),
       url("../fonts/bourton-base.woff") format("woff");
}

$secondary-font-stack: 'Bourton-base', Helvetica, Arial, sans-serif;

$tertiary-font-stack: 'Inter', Helvetica, Arial, sans-serif;


// Sizing

$base-font-size: 1em;

@function emCal($pixelBasedNum){
  @return $pixelBasedNum / $base-font-size * 1em
}
